#countLabel {
  display: block;
  text-align: center;
  font-size: 10rem;
  font-family: Helvetica;
}
#btnContainer {
  text-align: center;
}
.buttons {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: hsl(204, 85%, 62%);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover {
  background-color: hsla(204, 85%, 62%, 0.718);
}
